body {
  margin: 0;
  font-family: -apple-system, "Trade Winds", BlinkMacSystemFont, Ariel,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Trade Winds, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
