body {
  margin: 0;
  font-family: -apple-system, "Noto Sans", BlinkMacSystemFont, Ariel, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Noto Sans, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
